<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.itheima"></context:component-scan>
    <!--配置视图解析器来为controller中的返回字符串组装为响应地址并返回-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置自定义类型转换器-->
    <bean id="CSFB" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!--这里可以写多个bean来自定义多个自定义类型转换器-->
                <bean class="com.itheima.web.StringToDateConversion"></bean>
            </set>
        </property>
    </bean>
    <!--mvc:annotation-driven自动加载RequestMappingHandlerMapping（处理映射器)和RequestMappingHandlerAdapter(处理适配器)-->
    <!--使用conversion-service激活自动类型转换器-->
    <mvc:annotation-driven conversion-service="CSFB"></mvc:annotation-driven>
    
</beans>